#  ▓▓▓▓▓▓▓▓▓▓
# ░▓ author ▓ <PompaDonpa>
# ░▓▓▓▓▓▓▓▓▓▓
# ░░░░░░░░░░

#█▓▒░ Wonka
.arcrc
.env
.npmrc
.pip/pip.conf
.ssh/id_dsa
.ssh/id_ecdsa
.ssh/id_ed25519
.ssh/id_rsa
.uber

#█▓▒░ Config
config/nvim/spell
config/nvim/shada
config/nvim/plugged
config/nvim/autoload/plug.vim
# ranger python cache files
config/ranger/__pycache__
config/ranger/plugins/__init__.py
config/ranger/plugins/__pycache__
# lazygit state
config/lazygit/state.yml

#█▓▒░ Vim
vim/vim.symlink/spell/
vim/vim.symlink/plugged/


Brewfile.lock.json

.netrwhist
npm-debug.log

plug.vim.old




